//SCSS variables for where CSS custom properties do not work
$iphone-xsm: "320px";
$iphone-sm: "375px";
$iphone-md: "390px";
$mobile-portrait: "440px";
$mobile-landscape: "958px";
$tablet-portrait-width: "740px";
$tablet-landscape-height: "500px";
$tablet-landscape-width: "1024px";

$desktop-sm: "1024px";
$desktop-md: "1280px";
$desktop-lg: "1440px";
$desktop-height: "900px";

$macbook-height: 832px;

$desktop-break: 768px;

//CSS custom properties
:root {
    --desktop-sm: 1024px;
    --desktop-md: 1280px;
    --desktop-lg: 1440px;

    //fonts
    --primary-sans: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    --primary-serif: "Source Serif", Georgia, Times New Roman, serif;
    --primary-serif-sc: "Alegreya SC", Georgia, Times New Roman, serif;

    //borders
    --border-color: #d5d7da;

    //hamburger menu
    --hamburger-closed-color: var(--highlight);
    --hamburger-open-color: #fff;
    --hamburger-bg-color: transparent;
    --hamburger-open-bg-color: transparent;

    //mobile nav top bar and navigation page-break-after: none;
    --mobile-nav-bg-color: rgba(79, 106, 23, 1);
    --mobile-nav-bg-color-closed: #ffffff;

    //cards
    --card-text-color: #222222;
    --card-font-family: var(--primary-sans);
    --card-shadow:
        0 10px 24px 0px rgba(0, 0, 0, 0.02),
        0 8px 20px -2px rgba(0, 0, 0, 0.06), 0 6px 10px -6px rgba(0, 0, 0, 0.1);

    //footer
    --footer-specific-border-color: #ffb500;

    //mobile-nav-footer
    --mobile-nav-footer-border-color: #222222;

    //padding and margins
    --splash-padding-block: 2rem;
    --splash-padding-block-mobile: 1rem;
    --splash-padding-inline: 2rem;
    --splash-padding-inline-mobile: 1rem;

    //colors

    --divider-bg-color: #d8d8d8;

    --internal-mobile-banner-bg-color: #fff;
    --internal-mobile-banner-open-bg-color: rgba(0, 115, 255, 1);
    --internal-header-bg-color: #fff;
    --internal-nav-bg-color: #fff;

    --body-internal-bg: #fdfdfd;

    --page-bg: #fafafa;
    --highlight: #d60000;
    --text-color: #222222;
    --underline: #ffb500;
    --underline-active: transparent;
    --link-inactive: #222222;
    --link-active: #222222;
    --mobile-toggler-color: #fff;
    --moible-toggler-internal-color: #222222;
    --footer-internal-bg-color: transparent;
    --footer-internal-color: #838383;
    --image-border-color: 1px lsolid #d0d0d0;
    --card-container-color: #f2f2f2;

    --splashnav-bg-color-desktop: rgba(
        34,
        34,
        34,
        0.9
    ); //used for menu, header and footer background colours
    --internalnav-bg-color-desktop: #fff;
    --mobile-bg-color: #d2d2d2;

    --header-mobile-bg-color: #222222;

    //borders
    --topnav-internal-border: 3px solid var(--highlight);

    //shadows
    --topnav-internal-bs:
        0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
        0 2px 8px hsla(0, 0%, 0%, 0.05);

    --body-padding-mobile: 0 1rem;
    --body-padding-desktop: 0 1rem;
    --body-margin-mobile: 0 1rem;
    --body-margin-desktop: 0;

    --text-width: 40rem;
    --standard-margin: 0.75rem;
    --margin-list-item: 0rem;
    --body-text-weight: 400;
    --body-text-desktop-size: 1rem;
    --body-text-mobile-size: 1rem;
    --body-text-lineheight-desktop: 1.5;
    --body-text-lineheight-mobile: 1.5;
    --table-font: var(--primary-sans);
    --td-border-color: #dbdbdb;
    --map-outline-color: #222222;
    --image-border-color: #e6e6e6;
    --details-bg-color: #eeeeee;
    --standard-border-color: #b9b9b9;

    --scroll-top-bg-color: #4f6a17;
    --scroll-top-bg-active: #4f6a17;
    --scroll-top-shadow:
        0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px 0px rgba(0, 0, 0, 0.06),
        0 6px 10px 0px rgba(0, 0, 0, 0.1);
    --scroll-top-color: #fff;
    --scroll-top-color-active: #fff;
    --scroll-top-svg-stroke: #fff;
    --scroll-top-svg-stroke-active: #fff;
    --map-circle-fill: rgba(70, 120, 120, 1);
    --map-circle-stroke: rgba(255, 255, 255, 1);
}
