@use '_utilities' as *;
//tables 

//Variables
table {
	--table-font: var(--primary-serif);
	--table-font-color: #222222;
	--table-font-desktop-size: var(--fs-300);
	--table-font-weight: 400;
	--th-font-weight: 600;

	--table-caption-font-weight: 600;
	--table-caption-bg-color: var(--gray-100);
	--th-bg-color: var(--gray-50);
	--td-border-color: var(--gray-200) ;

	
}

figure.table-wrapper {
  max-width: 100%;
  background-color: transparent;
  border: none;	
  display: flex;
  //align-items: flex-start;
  overscroll-behavior-x: contain;
  overflow-x: auto;
  padding-block: 0;
  padding-inline: 1rem; 
  container-type: inline-size;
}

.table-wrapper > .note {
	display: none;
}

@container (max-width: 700px) {
	.table-wrapper > .note {
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;
	} 
}



table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	grid-column: full-width;
}

caption {
	font-family: var(--table-font);
	color: var(--table-font-color);
	font-weight: var(--table-caption-font-weight);
	border-top: 1px solid var(--td-border-color);
	border-left: 1px solid var(--td-border-color);
	border-right: 1px solid var(--td-border-color);
	padding: .25rem;
	background-color: var(--table-caption-bg-color);
	text-align: left;
}

th {
	font-weight: var(--th-font-weight);
	font-family: var(--table-font);
	font-size: var(--table-font-desktop-size);
	color: var(--table-font-color);
	font-variant: tabular-nums;
	background-color: var(--th-bg-color);
	border-top: 1px solid var(--td-border-color);
	border-bottom: 1px solid var(--td-border-color);
	border-top: 1px solid var(--td-border-color);
	border-left: 1px solid var(--td-border-color);
	border-right: 1px solid var(--td-border-color);
	padding: .5rem .5rem;
	text-align: left;
}

th.numeric {
	text-align: right;
}

td {
	background-color: var(--td-bg-color);
	font-family: var(--table-font);
	font-variant: tabular-nums;
	font-size: var(--table-font-desktop-size);
	padding: .5rem .5rem;
	border-top: 1px solid var(--td-border-color);
	border-bottom: 1px solid var(--td-border-color);
	border-top: 1px solid var(--td-border-color);
	border-left: 1px solid var(--td-border-color);
	border-right: 1px solid var(--td-border-color);
	color: var(--table-font-color);
	text-align: left;
}

td.numeric {
	text-align: right;
}