@use 'utilities' as *;

header {
	
	//Used by js to remove popover open if viewport changes while popover is open
	--desktop-break: 768px;
	
	--nav-bg-color: transparent;
	
	--button-color: #ffffff;
	
	//popover items 
	--popover-color: #ffffff;
	--popover-bg-color: var(--highlight);
	--popover-font-weight: 400;
	--popover-font-size: 1.2rem;
	--popover-text-decoration-color: transparent;
	--popover-text-decoration-color-active: #ffffff;
	
	//bilignual button
	--lang-chooser-bg-color: var(--highlight);
	--lang-chooser-bg-color-active: #ffffff;
	--lang-chooser-color: #ffffff;
	--lang-chooser-color-active: var(--highlight);
	
	//button that opens the mobile nav
	--button-color: #ffffff;
	--button-color-active: var(--highlight);
	--button-bg-color: var(--highlight);
	--button-bg-color-active: #ffffff;
	
	//button that closes popover, only visible on mobile when popover is open:
	--button-x-color: var(--highlight);
	--button-x-bg-color: #ffffff;
	--button-x-color-active: var(--highlight);
	--button-x-bg-color-active: #fff;
	
	//Nav items desktop settings, popover state set with popover above
	--nav-items-font-color: var(--highlight);
	--nav-items-font-weight: 300;
	--nav-items-font-size: 1.125rem;
	--nav-items-text-decoration-color: transparent;
	--nav-items-text-decoration-color-active: var(--highlight);
}

.nav-wrapper {
	display: grid;
	grid-template-columns: max-content;
	justify-content: center;
	gap: .5rem;
	width: 100%;
	border-block-end: 1px solid var(--border-color);
	padding-block: .5rem;
	margin-inline: auto;

	@media (width >=768px) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
	}
}

//simulate inline

//utility div that contains the language and site toggle on mobile and facilitates their layout additionlly contain the nav, which appears on desktop
.button-wrapper {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	justify-content: flex-end;
	align-items: center;
	
	@media (width >= 768px) {
	justify-content: center;
}

}



//language chooser button
.lang-chooser {
	padding: .5rem;
	width: max-content;
	font-family: var(--primary-sans);
	color: var(--lang-chooser-color);
	appearance: none;
	background-color: var(--lang-chooser-bg-color);
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s ease-in-out;


	&:is(:hover, :focus-visible) {
		color: var(--lang-chooser-color-active);
		background-color: var(--lang-chooser-bg-color-active);
		border: 2px solid var(--highlight);
	}
	
	
}



button.popover-nav-open {
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .5rem;
	border-radius: 5px;

	appearance: none;

	border: none;
	font-family: var(--primary-sans);
	color: var(--button-color);
	background-color: var(--button-bg-color);
	outline: 1px solid transparent;
	transition: all .3s ease;

	&:hover {
		cursor: pointer;
	}

	&:is(:focus-visible, :hover) {
		outline: 2px solid var(--button-bg-color);
		background-color: var(--button-bg-color-active);
		color: var(--button-color-active);
	}

	@media (width >=768px) {
		display: none;
	}


}

.menu-burger {
	stroke: var(--button-color);
	transition: all .3s ease;
}

.popover-nav-open:is(:hover, :focus-visible) {
	& .menu-burger {
		stroke: var(--button-color-active);
	}
}

button.popover-nav-close {
	position: fixed;
	top: 1rem;
	right: 1rem;
	//margin-inline-end: 0;
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .5rem;
	border-radius: 5px;

	appearance: none;

	border: none;
	font-family: var(--primary-sans);
	color: var(--button-x-color);
	background-color: var(--button-x-bg-color);
	outline: 1px solid transparent;
	transition: all .3s ease;

	&:hover {
		cursor: pointer;
	}

	&:is(:focus-visible, :hover) {
		outline: 2px solid var(--button-bg-color);
		background-color: var(--button-bg-color-active);
		color: var(--button-color-active);
	}

	@media (width >=768px) {
		display: none;
	}
}

//close x svg 

.close-x {
	width: 28px;
	height: 28px;
	stroke: var(--button-x-color);
	transition: all .3s ease;
}

.popover-nav-close:is(:hover, :focus-visible) .close-x {
	stroke: var(--button-x-color);
}

/*Default state of popover*/
#site-navigation[popover] {
	@media (width >=768px) {
		position: static;
		display: block;
		width: max-content;
		height: max-content;
		border: none;
		inset: 0;
		margin-inline: auto;
		z-index: auto;
	}
}

/* Open state (only applies when popover is actually open) */
#site-navigation[popover]:popover-open {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 1000;

  background: var(--popover-bg-color);
  border: none;
  box-shadow:
	inset 0 0 22px rgba(0, 0, 0, 0.25),
	inset 6px 6px 14px rgba(0, 0, 0, 0.18);

  opacity: .95;

  @media (width >= 768px) {
	position: static;
	width: max-content;
	height: max-content;
	inset: auto;
	margin-inline: auto;
	z-index: auto;
	background-color: transparent;
	box-shadow: none;
	opacity: 1;
  }


  html:has(&),
  body:has(&) {
	overflow: hidden;
	scrollbar-gutter: stable;
  }

  @starting-style {
	opacity: 0;
  }
}

#site-navigation:popover-open>.popover-group-container>.popover-nav-items {
	display: flex;
}

.popover-group-container {
	//popover open state
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	//popover desktop state
	@media (width >=768px) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-self: flex-start;
		gap: 3rem;
	}

}

//decorative header in popover, includes site logo and site title
.popover-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline-start: 1.5rem;
	padding-block-start: 1.5rem;
	animation-name: fade-in;
	animation-duration: 1s;
	//animation-delay: .25s;
	animation-fill-mode: forwards;
	
	width: 100dvw;
	max-width: 275px;
	
	@media (width >= 768px) {
		display: none;
	}
	
	


	& .popover-header-text {
		font-family: var(--primary-serif-sc);
		font-weight: 500;
		font-size: 2.5rem;
		text-shadow: 1.17329px 1.17329px 1.17329px rgba(0, 0, 0, 0.5);
		color: #fff;
		display: inline-flex;
		align-items: center;
		flex-direction: column;
		line-height: 1;
		gap: .5rem;
		display: none;


		& .splash-icon {
			width: 100px;

			@media only screen and (max-height:$mobile-portrait) and (max-width: $mobile-landscape) {
				width: 75px;
			}

		}

		@media only screen and (min-width: $tablet-portrait-width) and (min-height: 400px) {
			font-size: 4rem;
		}

		& .sub-title {
			font-family: 'Alegreya';
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.25;
			text-shadow: 1.07226px 1.07226px 1.07226px rgba(0, 0, 0, 0.5);
			text-align: center;


			@media only screen and (min-width: $tablet-portrait-width) and (min-height: 400px) {
				font-size: 1.625rem;
			}
		}
		
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



//popover nav items
.popover-nav-items {

	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-block-start: 1.5rem;
	padding-inline-start: 1.5rem;
	gap: .5rem;
	/* animation-name: fade-in;
	animation-duration: 3s;
	animation-delay: .75s;
	animation-fill-mode: forwards; */



	@media (width >=768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		margin-inline: 1.5rem;
		padding: 0;
		opacity: 1;
		animation: none;
	}

	& li {
		--stagger: calc((sibling-index() - 1) * .1s);
		/* -1 so first is 0s */

		opacity: 1;
		transition:
			translate .3s ease var(--stagger),
			opacity .3s ease var(--stagger);

		@starting-style {
			opacity: 0;
			translate: -100px 0;
		}
		
		@media (width >= 768px) {
			transition: none;
		}
	}

	& .item {
		font-family: var(--primary-sans);
		font-weight: var(--popover-font-weight);
		font-size: var(--popover-font-size);
		color: var(--popover-color);
		text-decoration-color: var(--popover-text-decoration-color);


		&:is(:hover, :focus-visible) {
			text-decoration-color: var(--popover-text-decoration-color-active);
		}



		@media (width >=768px) {
			color: var(--nav-items-font-color);
			font-size: var(--nav-items-font-size);
			font-weight: var(--nav-items-font-weight);
			text-decoration-color: var(--nav-items-text-decoration-color);

			&:is(:hover, :focus-visible) {
				text-decoration-color: var(--nav-items-text-decoration-color-active);
			}
		}

	}
}