//Imported
@use 'utilities' as *;
@use 'typography' as *;
@use 'reset' as *;
@use 'fonts' as *;
@use 'hcmc-table' as *;
@use 'popover-nav-fullscreen' as *;

//skip link for acessibility
.skip-link {
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	padding: 0;
}

.skip-link:focus {
	clip-path: none;
	z-index: 999;
	height: 5rem;
	line-height: 5rem;
	background: white;
	font-size: 1.2rem;
	text-decoration: none;
	color: #1295e6;
	text-align: center;
	width: 100%;
	position: fixed;
}

//screen reader only
.sr-only {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip-path: inset(50%);
	margin: -1px;
}

//controls viewport padding and margins, centers main content
.page-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-inline: 1rem;
	padding-block: 1rem;
	width: 100%;
	
	@media (width >= $desktop-break) {
		padding-inline: 2rem;
		padding-block: 1rem;
		max-width: var(--desktop-lg);
	}
}

header {
	width: 100%;
}

.mobile-header {
	width: 300px;
	height: auto;
	
	@media (width >= $desktop-break) {
		display: none;
	}
}

//blob on brecht splash
.blob {
	--blob-width: min(75dvh, 900px);
	--blob-speed: 24s;
	
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: var(--blob-width);
	height: auto;

	display: grid;
	place-items: center;
	margin-block-start: 1.5rem;

	background: #D60000;
	margin-inline: auto;

	border-radius: 42% 58% 61% 39% / 46% 41% 59% 54%;
	animation: blob-morph var(--blob-speed) linear infinite;

	/* inset shadow */
	box-shadow:
		inset 0 0 22px rgba(0, 0, 0, 0.25),
		inset 6px 6px 14px rgba(0, 0, 0, 0.18);

	will-change: border-radius, transform;
}

@keyframes blob-morph {
	0% {
		border-radius: 42% 58% 61% 39% / 46% 41% 59% 54%;
		transform: scale(1);
	}

	20% {
		border-radius: 55% 45% 38% 62% / 35% 60% 40% 65%;
		transform: scale(1.015);
	}

	40% {
		border-radius: 33% 67% 52% 48% / 61% 39% 58% 42%;
		transform: scale(0.985);
	}

	60% {
		border-radius: 60% 40% 45% 55% / 32% 66% 34% 68%;
		transform: scale(1.02);
	}

	80% {
		border-radius: 47% 53% 64% 36% / 55% 37% 63% 45%;
		transform: scale(0.99);
	}

	100% {
		border-radius: 42% 58% 61% 39% / 46% 41% 59% 54%;
		transform: scale(1);
	}
}

.splash-logo {
	width: 60%;
	height: auto;
}



//Footer
footer {
	width: 100%;
}

.footer-container {
	margin-block-start: 3rem;
	padding-block: 1.5rem;
	width: 100%;
	max-width: $desktop-sm;
	border-block-start: 1px solid var(--border-color);
}

.footer-items {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}