//path to the fonts location 
$fontPath : "../../fonts/";

@font-face {
	font-family: 'Roboto';
	font-weight: 100 900;
	font-style: normal;
	src: url("#{$fontPath}Roboto-VariableFont.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100 900;
	font-style: italic;
	src: url("#{$fontPath}Roboto-Italic-VariableFont.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: normal;
	src: url("#{$fontPath}InterVariable.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: italic;
	src: url("#{$fontPath}InterVariable-Italic.woff2") format("woff2");
	font-display: swap;
}



