# Ignore annoying Mac files
.DS_Store

#Ignote image_dimensions.txt
image_dimensions.txt

#Dont track CSS
css/
scss/*.css

#Ignore sass cache
.sass-cache/

# Ignore source files
src/

# Ignore lib
lib/

#Ignore site
site/

#Ignore image dimensions
utilities/imageDimensions.txt

#Ignore Pat's stuff
.nova/
.zed/
