# Ignore annoying Mac files
.DS_Store

#Dont track CSS
css/
scss/*.css

# Ignore source files 
src/

# Ignore lib
lib/

#Ignore site
site/

#Ignore image dimensions
utilities/imageDimensions.txt

#Ignore Pat's stuff
.nova/